@tailwind base;

@font-face {
	font-family: 'Cartograph Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/cartograph-sans-cf.woff) format('woff');
}

@font-face {
	font-family: 'Cartograph Sans';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/cartograph-sans-cf-bold.woff) format('woff');
}

@font-face {
	font-family: 'Cartograph Sans';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/cartograph-sans-cf-heavy.woff) format('woff');
}

@font-face {
	font-family: 'Cartograph Sans';
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/cartograph-sans-cf-thin.woff) format('woff');
}

@font-face {
	font-family: 'Cartograph Sans';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/cartograph-sans-cf-light.woff) format('woff');
}

body {
	@apply text-gray-800 bg-customGray;
}

main {
	@apply flex-grow;
}

.siteWrapper {
	@apply flex flex-col min-h-screen;
}

h1, h2, h3, h4, h5, h6 {
	@apply tracking-widest;
}

h2, h3, h4, h5, h6 {
	@apply tracking-widest;
}

h1 {
	@apply text-6xl font-black;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-2xl;
}

a {
	@apply inline-block no-underline;
}

a:hover {
	@apply underline;
}

header nav a {
	@apply uppercase;
}

a[aria-current="page"] {
	@apply font-black;
}

article blockquote {
	@apply text-gray-600 border-l-2 border-solid my-3 pl-3;
}

article .content a {
	@apply underline transition-all duration-500 ease-in-out;
}

article .content a:hover {
	@apply font-black;
}

article .content p {
	@apply pb-2;
}

@tailwind components;
@tailwind utilities;